:root {
  /* Font families */
  --font-primary: "Poppins", sans-serif;
  --font-secondary: "Roboto", sans-serif;
  /* Colors */
  --dark-bg: #111525;
  --dark-secondary: #161b2e;
  --card-bg: #1d2238;
  --light-purple: #8a7fa4;
  --turquoise: #44d7b6;
  --pink: #f56ee1;
  --white: #ffffff;
}

/* Global rules */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--dark-bg);
  color: var(--white);
  font-family: var(--font-secondary);
}
body h2,
body h3,
body h5 {
  font-family: var(--font-primary);
}

.grid__stagger {
  opacity: 0;
}

.scrollbar__style::-webkit-scrollbar {
  width: 5px;
  background-color: #f9a7fa1d;
}
.scrollbar__style::-webkit-scrollbar-thumb {
  background-color: #f56ee1;
  border-radius: 5px;
}
.scrollbar__style::-webkit-scrollbar-thumb:hover {
  background-color: #f23ed7;
}

.sidebar {
  background: var(--dark-secondary);
  left: 0;
  top: 0;
  height: 100vh;
  min-width: 200px;
  padding: 1rem;
  overflow-y: scroll;
  position: fixed;
}
.sidebar__profile {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 2rem 0;
}
.sidebar__profile__img {
  width: 90px;
  height: 90px;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.sidebar__profile__data {
  display: flex;
  gap: 10px;
  margin-top: 7px;
  font-size: 0.9rem;
  text-shadow: 2px 3px 5px rgba(0, 0, 0, 0.2);
}
.sidebar__profile__data__icon {
  color: var(--light-purple);
  font-size: 0.8rem;
  line-height: 1rem;
  cursor: pointer;
}
.sidebar__title {
  font-size: 1.7rem;
  letter-spacing: 2px;
  font-weight: bold;
  text-shadow: 2px 3px 5px rgba(0, 0, 0, 0.5);
}
.sidebar__title span {
  font-size: 0.6rem;
  color: var(--light-purple);
  font-style: italic;
}
.sidebar__button {
  width: 100%;
  border-radius: 20px;
  background-image: linear-gradient(to right, #f356dc, #ae6ef5);
  border: none;
  padding: 0.5rem;
  text-align: left;
  font-weight: bold;
  font-size: 0.9rem;
  letter-spacing: 0.3px;
  position: relative;
  margin-top: 30px;
  background-size: 200%;
  transition: all 0.3s;
}
.sidebar__button:hover {
  background-size: 100%;
  transition: all 0.3s;
  scale: 1.02;
}
.sidebar__button:active {
  transform: translatey(2px);
}
.sidebar__button span {
  padding-left: 8px;
}
.sidebar__button i {
  position: absolute;
  right: 15px;
}

.sidebarNav__list {
  list-style: none;
}
.sidebarNav__item {
  margin-top: 2rem;
  list-style-type: none;
}
.sidebarNav__link {
  color: var(--white);
  text-decoration: none;
  position: relative;
  display: block;
}
.sidebarNav__text, .sidebarNav__icon {
  color: var(--pink);
  cursor: pointer;
}
.sidebarNav__icon {
  font-size: 1.3rem;
  margin-right: 5px;
}
.sidebarNav__iconSizeCustomer {
  font-size: 1.1rem;
}
.sidebarNav__iconSizeChannels {
  font-size: 1.2rem;
}
.sidebarNav__text {
  font-size: 0.85rem;
  font-weight: bold;
  text-shadow: 1px 2px 5px rgba(0, 0, 0, 0.2);
}
.sidebarNav__switch {
  position: absolute;
  right: 0;
  top: 1px;
  color: var(--light-purple);
}
.sidebarNav__divider {
  margin-top: 20px;
  width: 100%;
  height: 1px;
  background: var(--light-purple);
  opacity: 0.3;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15);
}

.submenu {
  list-style: none;
  margin: 0.7rem 0;
}
.submenu__item {
  position: relative;
  padding: 0.8rem;
  font-size: 0.8rem;
  transition: transform 0.3s;
}
.submenu__item::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: linear-gradient(to right, #f56ee1, #ae6ef5);
  opacity: 0;
  transition: opacity 0.3s ease;
  border-radius: 10px;
  pointer-events: none;
}
.submenu__item:active {
  transform: translatey(2px);
  transition: transform 0.3s;
}
.submenu__item:hover {
  color: #000;
}
.submenu__item:hover::after {
  opacity: 1;
}
.submenu__link {
  color: var(--white);
  text-decoration: none;
  cursor: pointer;
  position: relative;
  z-index: 2;
}

/***********
SIDEBAR END
************/
/***********
DASHBOARD
************/
.dashboard {
  display: flex;
}
.dashboard__content {
  height: 100vh;
  margin-left: 270px;
}
.dashboard__content__title {
  padding: 1.5rem 0;
  text-shadow: 2px 3px 5px rgba(0, 0, 0, 0.5);
}

.dashboard__grid {
  display: grid;
  grid-template-areas: "dateRange region channel salesData" "totalCustomer orders salesVolume increase" "messageBox messageBox productCategories productCategories" "salesFigure salesFigure salesChart salesChart";
  grid-template-columns: repeat(4, 260px);
  align-items: center;
  padding-bottom: 50px;
  gap: 20px;
}
.dashboard__grid #statistic-time {
  grid-area: dateRange;
}
.dashboard__grid #statistic-region {
  grid-area: region;
}
.dashboard__grid #statistic-channel {
  grid-area: channel;
}
.dashboard__grid #customerInfo {
  grid-area: newCustomers;
}
.dashboard__grid #salesData {
  grid-area: salesData;
}
.dashboard__grid #totalCustomer {
  grid-area: totalCustomer;
}
.dashboard__grid #orders {
  grid-area: orders;
}
.dashboard__grid #salesVolume {
  grid-area: salesVolume;
}
.dashboard__grid #increase {
  grid-area: increase;
}
.dashboard__grid #data-chartOne,
.dashboard__grid #data-chartTwo,
.dashboard__grid #data-chartThree {
  padding: 1rem 1.5rem 1rem 1.5rem;
  background: var(--card-bg);
  box-shadow: 0 10px 30px -10px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  height: 350px;
}
.dashboard__grid #data-chartOne h3,
.dashboard__grid #data-chartTwo h3,
.dashboard__grid #data-chartThree h3 {
  font-weight: 600;
  font-size: 1rem;
}
.dashboard__grid #messageBox {
  grid-area: messageBox;
}
.dashboard__grid #data-chartOne {
  grid-area: salesFigure;
}
.dashboard__grid #data-chartOne #line-chart {
  padding: 1rem;
  margin-top: 10px;
}
.dashboard__grid #data-chartTwo {
  grid-area: productCategories;
}
.dashboard__grid #data-chartTwo #doughnut {
  margin: 10px 0 0 20px;
}
.dashboard__grid #data-chartThree {
  grid-area: salesChart;
}
.dashboard__grid #data-chartThree #polar-area-chart {
  margin-top: 10px;
  padding: 1rem;
}

.dashboard__grid__selectLabel {
  font-size: 0.8rem;
  height: 80px;
  color: var(--pink);
  background: var(--card-bg);
  box-shadow: 0 10px 30px -10px rgba(0, 0, 0, 0.2);
  padding: 1rem 1.2rem;
  border-radius: 15px;
  border: none;
}
.dashboard__grid__selectLabel__select {
  margin: 10px 0;
  width: 90%;
  background: transparent;
  color: var(--white);
  border: none;
}

.sales__data {
  font-size: 0.8rem;
  text-transform: uppercase;
  font-weight: bold;
}
.sales__data__profit, .sales__data__margin {
  position: relative;
  background: var(--card-bg);
  display: flex;
  justify-content: flex-start;
  gap: 20px;
  padding: 0 0.8rem;
  align-items: center;
  border-radius: 15px;
  height: 35px;
}
.sales__data__profit__icon, .sales__data__margin__icon {
  display: inline-block;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
}
.sales__data__profit__result, .sales__data__margin__result {
  padding: 0.3rem 0.5rem;
  border-radius: 5px;
  font-size: 0.65rem;
  position: absolute;
  right: 30px;
}
.sales__data__profit {
  margin-bottom: 10px;
}
.sales__data__profit__icon {
  background: linear-gradient(135deg, #9c27b0, #e040fb);
}
.sales__data__profit__result {
  background: #7b67ff;
}
.sales__data__margin__icon {
  background: linear-gradient(135deg, #03a9f4, #00bcd4);
}
.sales__data__margin__result {
  background: #29bf9d;
}

.dashboard__grid__salesFigures {
  position: relative;
  height: 170px;
  padding: 1rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  font-weight: bold;
}
.dashboard__grid__salesFigures__salesValues {
  font-family: var(--font-primary);
  text-align: center;
  font-size: 2.5rem;
  border-radius: 10px;
  letter-spacing: 1px;
  margin-top: 20px;
}
.dashboard__grid__salesFigures__growth {
  font-size: 4rem;
  margin-top: 8px;
}
.dashboard__grid__salesFigures__winOrLoose {
  text-align: center;
  font-size: 0.7rem;
}
.dashboard__grid__salesFigures__winOrLoose i {
  padding-left: 3px;
}
.dashboard__grid__salesFigures__period {
  margin-top: 20px;
  font-weight: 400;
  font-size: 0.55rem;
}

.card-purple {
  background: linear-gradient(135deg, #9c27b0, #e040fb);
  color: white;
}

.card-blue {
  background: linear-gradient(135deg, #03a9f4, #00bcd4);
  color: white;
}

.message__center {
  background: var(--card-bg);
  height: 350px;
  border-radius: 15px;
  padding: 1rem 1.5rem 1rem 1.5rem;
}
.message__center__line {
  height: 0.5px;
  width: 95%;
  background: var(--pink);
  margin: auto;
  opacity: 0.4;
}
.message__center__title {
  font-weight: 600;
  font-size: 1rem;
}
.message__center__img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}
.message__center__container {
  overflow-y: scroll;
  height: 250px;
  margin: 20px auto;
}
.message__center__wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 0.7rem;
}
.message__center__message {
  font-size: 0.7rem;
}
.message__center__message__from {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 3px;
  display: inline-block;
  color: var(--pink);
}
.message__center__message__text {
  display: block;
  width: 90%;
}
.message__center__message__question, .message__center__message__done {
  border-radius: 15px;
  border: none;
  padding: 0.5rem;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.6rem;
}
.message__center__message__question {
  background: #7b67ff;
}
.message__center__message__done {
  background: #29bf9d;
}
.message__center__message__timeDate {
  font-size: 0.6rem;
  font-style: italic;
  opacity: 0.6;
}

.addMoreChartsBtn {
  text-align: center;
  display: block;
  opacity: 1;
  margin-top: 20px;
  padding-bottom: 50px;
}
.addMoreChartsBtn:active {
  transform: translateY(2px);
}
.addMoreChartsBtn i {
  background: linear-gradient(135deg, #9c27b0, #e040fb);
  font-size: 3rem;
  -webkit-background-clip: text;
  color: transparent;
  display: inline-block;
}
.addMoreChartsBtn i:hover {
  transform: rotate(90deg);
}

@media (min-width: 1750px) {
  .dashboard__grid {
    grid-template-areas: "dateRange region channel salesData salesFigure" "totalCustomer orders salesVolume increase salesFigure" "messageBox messageBox productCategories productCategories salesChart";
    justify-content: center;
    grid-template-columns: repeat(4, 250px);
    margin-top: 30px;
    padding: 0;
  }
  .dashboard__grid .message__center,
.dashboard__grid #data-chartOne,
.dashboard__grid #data-chartTwo,
.dashboard__grid #data-chartThree {
    height: 280px;
  }
  .dashboard__grid #data-chartOne,
.dashboard__grid #data-chartThree {
    width: 400px;
  }
  .dashboard__grid #data-chartOne #line-chart {
    padding: 0;
    margin-top: 0.5rem;
  }
  .dashboard__grid #data-chartTwo #doughnut {
    margin-top: -10px;
    transform: scale(0.85);
  }
  .dashboard__grid #data-chartThree {
    margin: 0;
  }
  .dashboard__grid #data-chartThree #polar-area-chart {
    padding: 0;
    margin-top: 1rem;
  }

  .message__center__container {
    height: 185px;
  }

  .addMoreChartsBtn {
    margin-top: 40px;
  }
}
@media (max-width: 1380px) {
  .dashboard__grid {
    grid-template-areas: "dateRange region" "channel salesData" "totalCustomer orders" "salesVolume increase" "messageBox messageBox" "productCategories productCategories" "salesFigure salesFigure" "salesChart salesChart";
    grid-template-columns: repeat(2, 350px);
  }
  .dashboard__grid #data-chartOne,
.dashboard__grid #data-chartTwo,
.dashboard__grid #data-chartThree {
    height: 410px;
  }
  .dashboard__grid .message__center__container {
    width: 90%;
  }
}
@media (min-width: 320px) and (max-width: 950px) {
  .dashboard__grid {
    grid-template-columns: repeat(2, 250px);
  }
}